<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-12 footer-contact footer-about">
            <h3>Tavron Engineers</h3>
            <p>
              Process equipment and turnkey plants for the dairy, food, beverage and
              chemical industry. ISO 9001:2015 certified, manufacturing in Chennai
              since 2004.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Office</h3>
            <p>
              AF-1, Aiswaryam No. 25-A, Redhills Road,<br>
              Kolathur, Near Kolathur Indian Bank,<br>
              Chennai &ndash; 600 099
            </p>
            <p class="footer-line">
              <span>Phone</span>
              <a href="tel:+914442866905">+91 44 4286 6905</a> &middot;
              <a href="tel:+914425567211">+91 44 2556 7211</a> &middot;
              <a href="tel:+919176610713">+91 91766 10713</a>
            </p>
            <p class="footer-line">
              <span>Email</span>
              <a href="mailto:sales@tavron.net">sales@tavron.net</a>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Factory</h3>
            <p>
              38-42, Arulmurugan Nagar,<br>
              Vichoor Post, Near Infant Jesus Church,<br>
              Manali New Town, Chennai &ndash; 600 103
            </p>
            <p class="footer-line">
              <span>Phone</span>
              <a href="tel:+919177610727">+91 91776 10727</a>
            </p>
            <p class="footer-line">
              <span>Email</span>
              <a href="mailto:factory@tavron.net">factory@tavron.net</a>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>TAVRON ENGINEERS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
      <a href="https://m.facebook.com/Tavron-Engineers-207077796056346/" target="new" class="facebook">
	  <i class="icofont-facebook"></i></a>
      <a href="https://instagram.com/tavronengineers?utm_medium=copy_link" target="new" class="instagram">
	  <i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/company/tavron-engineers" target="new" class="linkedin">
	  <i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </footer>
