<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-8 footer-contact">
            <h3>Office Address</h3>
            <p>
              AF-1, AISWARYAM No.25-A, Redhills Road, <br>
              Kolathur, Near Kolathur Indian Bank, <br> Chennai-600 099<br>
			  Phone: +9144 42866905 | +9144 25567211  <br> +91 9176610713 <br> 
			  Email : <a href="mailto:sales@tavron.net">sales@tavron.net</a>
            </p>
          </div>

          <div class="col-lg-6 col-md-8 footer-contact">
            <h3>Factory Address</h3>
            <p>
              38-42, Arulmurugan Nagar, <br> 
			  Vichoor Post, Near Infant Jesus Church, <br> 
				Manali New Town, Chennai - 600 103 <br> 
				Phone :  +91 9177610727 <br>
				Email : <a href="mailto:factory@tavron.net">factory@tavron.net</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>TAVRON ENGINEERS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
      <a href="https://m.facebook.com/Tavron-Engineers-207077796056346/" target="new" class="facebook">
	  <i class="icofont-facebook"></i></a>
      <a href="https://instagram.com/tavronengineers?utm_medium=copy_link" target="new" class="instagram">
	  <i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/company/tavron-engineers" target="new" class="linkedin">
	  <i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </footer>