<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-xl d-flex align-items-center">

    <!-- <h1 class="logo mr-auto"><a href="index.html"><span>Tavron </span>Engineers</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li id="menu_home"><a href="index.html">Home</a></li>
        <li class="drop-down"><a href="">About</a>
          <ul>
            <li id="menu_about"><a href="about.html">About Us</a></li>
            <li id="menu_team"><a href="team.html">Team</a></li>
            <li id="menu_clients"><a href="clients.html">Our Clientele</a></li>
          </ul>
        </li>
		  <li class="drop-down"><a>Products</a>
          <ul>
            <li id="menu_bulkCoolers"><a href="bulkCoolers.html">Bulk Milk Coolers</a></li>
            <li id="menu_pumps"><a href="pumps.html">SS Centrifugal Pumps</a></li>
            <li id="menu_plateheat"><a href="plateheat.html">Plate Heat Exchangers</a></li>
			<li id="menu_tubularheat"><a href="tubularheat.html">Tubular Heat Exchangers</a></li>
            <li id="menu_spray"><a href="spray.html">Spray Dryers</a></li>
            <li id="menu_evaporators"><a href="evaporators.html">Evaporators</a></li>
            <li id="menu_pasteurisers"><a href="pasteurisers.html">HTST Pasteurisers</a></li>
            <li id="menu_blenders"><a href="blenders.html">Blenders</a></li>
            <li id="menu_dimpleJacket"><a href="dimpleJacket.html">Dimple Jacketed Tanks</a></li>
			<li id="menu_tanks"><a href="tanks.html">Silos and Tanks</a></li>
            <li id="menu_bsterilizer"><a href="bsterilizer.html">Bottle Sterilizer</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Projects</a>
          <ul>
            <li class="drop-down"><a>Dairy Equipments</a>
              <ul>
                <li id="menu_milk"><a href="milkprocessing.html">Milk Processing</a></li>
                <li id="menu_flavouredmilk"><a href="FlavouredMilkProcessing.html">Flavoured Milk Processing</a></li>
                <li id="menu_milkpowder"><a href="milkpowder.html">Milk Powder Processing</a></li>
                <li id="menu_ghee"><a href="gheeprocessing.html">Ghee Processing</a></li>
                <li id="menu_butter"><a href="ButterProcessing.html">Butter Processing</a></li>
                <li id="menu_curdandyogurt"><a href="CurdYogurtProcessing.html">Curd and Yogurt Processing</a></li>
                <li id="menu_icecream"><a href="IcecreamProcessing.html">Icecream Processing</a></li>
                <li id="menu_paneer"><a href="PaneerProcessing.html">Paneer Processing</a></li>
                <li id="menu_khova"><a href="KhovaProcessing.html">Khova Processing</a></li>
                <li id="menu_cheese"><a href="CheeseProcessing.html">Cheese Processing</a></li>
			  <li id="menu_egg"><a href="LiquidEggProcessing.html">Liquid Egg Processing</a></li>
                <li id="menu_wheypowder"><a href="whey.html">Whey Powder Processing</a></li>
                <li id="menu_casine"><a href="Casine.html">Casine Processing</a></li>
              </ul>
            </li>
            <li class="drop-down"><a>Beverage Equipments</a>
              <ul>
                <li id="menu_juice"><a>Juice Processing</a></li>
                <li id="menu_cdp"><a>Carbonated Drink Processing</a></li>
                <li id="menu_cipsystem"><a href="cipsystem.html">CIP System</a></li>
                <li id="menu_piping"><a>Process Piping</a></li>
                <li id="menu_refrigeration"><a href="RefrigerationEquipments.html">Refrigeration Equipments</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="menu_automation"><a href="automation.html">Automation</a></li>
        <li id="menu_downloads"><a href="downloads.html">Downloads</a></li>
        <li id="menu_news"><a href="news.html">News</a></li>
        <li id="menu_videos"><a href="videos.html">Videos</a></li>
        <li id="menu_contact"><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>

    <div class="header-social-links">
     <!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a> -->
     <a href="https://m.facebook.com/Tavron-Engineers-207077796056346/" target="new" class="facebook">
	  <i class="icofont-facebook"></i></a>
      <a href="https://instagram.com/tavronengineers?utm_medium=copy_link" target="new" class="instagram">
	  <i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/company/tavron-engineers" target="new" class="linkedin">
	  <i class="icofont-linkedin"></i></a>
    </div>

  </div>
</header><!-- End Header -->